.settings-menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  font-size: 1.6rem;
  min-width: 20rem;
  width: 30%;
}

.settings-menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  border-left: 1px solid #fff;
  padding: 1.5rem 0 1rem 2rem;

  cursor: pointer;
}

.settings-menu__item:first-child {
  border-left: 1px solid #333;
}
