/* Forgot Password Section  */

.forgot-password__section {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  margin: 5rem auto;
  padding: 5rem;

  border: 1px solid #aaa;
  border-radius: 10px;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);

  background-color: #fff;
}

.forgot-password__icon--close {
  font-size: 2.4rem;
  position: absolute;
  right: 2rem;
  top: 2rem;

  cursor: pointer;
}

/* .forgot-pass-section h2 {
  font-size: 2.4rem;
  line-height: 2.5rem;
}

.forgot-pass-section h3 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
} */
